input[type="text"].cadastro-usuario,
input[type="email"].cadastro-usuario,
input[type="password"].cadastro-usuario,
select.cadastro-usuario{
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #10B981;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button.secondary-btn {
  background-color: transparent;
  color: #10B981;
  font-weight: bold;
  border: 2px solid #10B981;
}

button.secondary-btn:hover {
  background-color: #10B981;
  color: white;
}

.mensagem {
  text-align: center;
  font-weight: bold;
  color: #10B981;
  margin-top: 1rem;
}

.radio-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

textarea.cadastro-usuario {
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border: 1px solid #10B981;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}

/* Responsividade para tablets*/
@media (min-width: 600px) {
  .cadastro-container {
    padding: 2.5rem;
  }

  button.cadastro-usuario{
    width: 20rem;
    margin: 1rem auto;
  }

  input.cadastro-usuario,
  textarea.cadastro-usuario,
  select.cadastro-usuario{
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.1rem;
  }

  label.cadastro-usuario{
    margin: 1.25rem auto;
    width: 20rem;
  }

  .radio-group.cadastro-usuario{
    margin: 0 auto;
    width: 20rem;
  }

  .logo.cadastro-usuario{
    margin-top: 0;
  }
}

/* Responsividade para desktops */
@media (min-width: 900px) {
  .cadastro-container {
    padding: 3rem;
  }

  button.cadastro-usuario{
    width: 20rem;
    margin: 1rem auto;
  }

  input.cadastro-usuario,
  textarea.cadastro-usuario,
  select.cadastro-usuario{
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 1.1rem;
  }

  label.cadastro-usuario{
    margin: 1.25rem auto;
    width: 20rem;
  }

  .radio-group.cadastro-usuario{
    margin: 0 auto;
    width: 20rem;
  }

  .logo.cadastro-usuario{
    margin-top: 0;
  }
}
